* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabeçalho {
    background-color: #F5F5F5;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-logo{
    width: 10%;
    height: 10%;
}

.cabeçalho-itens {
    font-size: 36px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
    color: #145CA4;
    padding-top: 30px;
}

.escola {
    background-image: linear-gradient(#F5F5F5, #5D83AC);
    width: 100%;
    height: 350px;

}

.escola-título {
    text-align: center;
    color: #145CA4;
    font-size: 48px;
    padding-top: 100px;
}

.escola-parágrafo {
    text-align: center;
    font-size: 36px;
    color:#F5F5F5;
    padding-top: 50px;
}

.galeria {
    background-image: linear-gradient(#5D83AC, #F5F5F5);
    height: 1800px;
    color: #FFFFFF;
    justify-content: space-around;
}

.galeria-título{
    padding-top: 50px;
    font-size: 48px;
    text-align: center;
}

.galeria-foto {
    padding-top: 100px;
    width: 240px;
    height: 360px;
    border-radius: 33px;
}

.flamula {
    color: #1B436A;
    font-size: 36px;
    text-align: center;  
}

.galeria-todos {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.rodape {
    background-color: #5D83AC;
    height: 50px;
    
}

.copyright {
    text-align: center;
    font-size: 30px;
    color:#FFFFFF;
}




