* {
    margin: 0;
    padding: 0;
}

.cabeçalho {
    background-color: #F5F5F5;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
}

.cabeçalho-logo{
    width: 10%;
    height: 10%;
}

.cabeçalho-itens {
    font-size: 36px;
    margin: 5px;
    display: inline-block;
    font-weight: bold;
    color: #145CA4;
    padding-top: 30px;
}

.escola {
    background-image: linear-gradient(#F5F5F5, #5D83AC);
    width: 1440px;
    height: 250px;
}

.escola-título {
    text-align: center;
    color: #145CA4;
    font-size: 48px;
    padding-top: 60px;
}

.escola-parágrafo {
    text-align: center;
    font-size: 36px;
    color:#F5F5F5;
    padding-top: 50px;
}




